/*.spacing {
  padding: 15px;
}*/

#logo {
  width: 30vw;
  min-width: 300px;
  max-width: 500px;
  margin-top: 40vh;
}

#banner {
  height: 80vh;
  width: 100vw;
  background: url("../resources/imgs/header_bg.jpg");
  background-size: cover;
}

.section {
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 12vh;
}

.secA {
  /*height: 500px;*/
  background: #f3f3f3;
}

.secB {
  background: #999;
}

.secB img {
  width: 100%;
  height: auto;
}

.secB p {
  padding-right: 10px;
  font-size: 90%;
}