@charset "utf-8";
/* CSS Document */

.section {
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 12vh;
}

#bufferB {
  height: 200px;
  width: 100%;
  background: #e0e0e0;
}

/*HEADER*/
header {
  position: fixed;
  top: -50px;
  z-index: 2;
  -webkit-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
  box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
  z-index: 3;
}

#header_cont {
  width: 100vw;
  background: rgba(0,0,0,0.85);
  padding: 10px;
  min-height: 65px;
}

#header_logo {
  height: 50px;
  cursor: pointer;
}

#header_btn_left {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 33px;
  margin: -2px -6px 0 10vw;
}

#header_btn_right {
  position: absolute;
  display: inline-block;
  right: 0;
  margin-right: 10vw;
}

header button {
  appearance: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  margin-top: 6px;

  border: none;
  background: #669933;
  padding: 6px 20px 4px 20px;
  transition: background .1s ease-in-out;
  -moz-transition: background .1s ease-in-out;
  -webkit-transition: background .1s ease-in-out;
}

header button:hover {
  background: #9bb337;
}

header button:active {
  background: #555;
}

/*SECA*/


#opening_pitch {
  position: absolute;
  top: 40vh;
  left: 41.5vw;
}

.banner {
  height: 78vh;
  width: 100vw;
  background: url("../resources/imgs/header_bg.jpg");
  background-size: cover;
  background-position: bottom;
}

#machine {
  /*height: 95%;*/
  /*width: auto;*/
  width: 100%;
  min-width: 500px;
  margin-top: 20vh;
}

#bufferA{
  height: 40vh;
  width: 100%;
}

#opening_pitch h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 4em;
  letter-spacing: 5px;
  line-height: 70px;
  text-align: left;
  margin-left: 5vw;
  color: #669933;
}

.secA h3 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: left;
  width: 60%;
  margin: 90vh 0 7vh 5vw;
  color: black;
}


/*SECTION B*/
.secB {
  background: url("../resources/imgs/axon2.jpg");
  background-size: cover;
  background-position: center;
}

.secB_cont{
  margin-top: 7vh;
  text-align: center;
}

.secB img {
  width: 50%;
  padding-bottom: 1vh;
  transition: all .1s ease-in-out;
/*  -webkit-transition: all 500ms cubic-bezier(0.430, 0.240, 0.065, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.430, 0.240, 0.065, 0.995);
  -o-transition: all 500ms cubic-bezier(0.430, 0.240, 0.065, 0.995);
  transition: all 500ms cubic-bezier(0.430, 0.240, 0.065, 0.995);*/
}

.secB img:hover {
/*  -ms-transform: translate(0px,-15px);
  -webkit-transform: translate(0px,-15px);
  transform: translate(0px,-15px);*/
  /*-webkit-filter: invert(100%);*/
  /*filter: invert(100%);*/
  transform: scale(1.08,1.08);
}

.secD {
  background: url("../resources/imgs/testB.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
}

.secB_cont{
  text-align: center;
}

.secB h4 {
  font-family: "Roboto",Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  margin-top: -3vh;
  color: black;
}

#bufferB {
  background: none;
  height: 100px;
  width: 100%;
}

/*SECTION C*/
/*.secC {
  background: #f3f3f3;
}

#imgdiv {
  float: right;
  width: 100%;
  height: 300px;
  margin-top: 8px;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.secC img {
  float: right;
  width: 100%;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}*/


/*SECTION F*/

.secF {
  background: url("../resources/imgs/axon2.jpg");
  background-size: cover;
  background-position: center;
}

#linkedin {
  width: 25px;
  float: right;
}

#linkedin_bio {
  width: 25px;
  margin: 10px;
  float: left;
  opacity: .2;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
  z-index: 2;
}

#linkedin_bio:hover {
  opacity: 1;
}

#larg_container {
    background: #fafafa;
    margin: 3px;
    position: relative;
    -webkit-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
    box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
}

.bio_img_hori {
    background: #e0e0e0;
    width: 33.333%;
    height: 100%;
    display: inline-block;
    float: left;
    position: absolute;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .2s ease;
  }

  .bio_img_hori:hover {
    background: #ededed;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }


#personA {
    width: 100%;
    height: 100%;
    padding-left: 3vw;
    background: url("../resources/imgs/personA.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#personB {
    width: 100%;
    height: 100%;
    padding-left: 3vw;
    background: url("../resources/imgs/personB.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#personC {
    width: 100%;
    height: 100%;
    padding-left: 3vw;
    background: url("../resources/imgs/personC.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#personD {
    width: 100%;
    height: 100%;
    padding-left: 3vw;
    background: url("../resources/imgs/personD.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#personE {
    width: 100%;
    height: 100%;
    padding-left: 3vw;
    background: url("../resources/imgs/personE.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#personF {
    width: 100%;
    height: 100%;
    padding-left: 3vw;
    background: url("../resources/imgs/personF.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.imgdiv img {
    width: 100%;
    position: relative;
    bottom: 0;
}

.bio_text_hori {
    margin-left: 33.333%;
    width: 66.666%;
    display: inline-block;
}

.bio_title {
  padding: 25px 25px 0 35px;
  width: 100%;
}

.bio_desc {
  font-size: .8em;
  padding: 0 35px 35px 35px;
}

.secF button {
  outline-style: none;
  border: none;
  background: white;
  margin-left: 3px;
  color: #888;
  width: 33%;
  font-size: 1.8em;
  font-weight: 100;
}









/*FOOTER*/

.footeroutter {
  background: #383838;
  border: #383838 solid 1px;
}

footer {
  background: #383838;
  color: #999;
}

footer p {
  font-size: .7em;
  padding-bottom: 2vh;
}

footer span {
  font-size: .7em;
  float: right;
  margin-right: 20px;
}

a,a:link,a:visited {
  cursor: pointer;
  color: #999;
  text-decoration: none;
  transition: color .1s ease-in-out;
  -moz-transition: color .1s ease-in-out;
  -webkit-transition: color .1s ease-in-out;
}

a:hover {
  color: white;
}

footer span:hover {
  color: white;
}

.footer_cont {
  font-size: .8em;
  text-align: left;
  padding: 0 0 5vh 0;
}

.footer_contB {
  padding-top: 2vh;
}

.icon {
  height: 60px;
  width: 60px;
  background: url("../resources/imgs/icons.png") no-repeat;
  background-size: 400%;
  float: right;
  position: relative;
  cursor: pointer;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
}

.facebook {
  opacity: .5;
  background-position:left top;
}

.facebook:hover {
  opacity: 1;
  background-position:left top;
}

.facebook:active {
  opacity: 1;
  background-position:left bottom;
}

.twitter {
  opacity: .5;
  background-position:right -120px top;
}

.twitter:hover {
  opacity: 1;
  background-position:right -120px top;
}

.twitter:active {
  opacity: 1;
  background-position:right -120px bottom;
}

.instagram {
  opacity: .5;
  background-position:right -60px top;
}

.instagram:hover {
  opacity: 1;
  background-position:right -60px top;
}

.instagram:active {
  opacity: 1;
  background-position:right -60px bottom;
}

.linkedin {
  opacity: .5;
  background-position:right top;
}

.linkedin:hover {
  opacity: 1;
  background-position:right top;
}

.linkedin:active {
  opacity: 1;
  background-position:right bottom;
}

.footer_contB p {
  font-size: .8em;
  text-align: right;
  padding: 0 2vh 0 0;
}

/*TEST SECTION*/

#testsect {
  height: 700px;
  width: auto;
  position: absolute;
}

.expand {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #669933;
  z-index: 2;
  border-radius: 100px;
  font-size: 0px;
  border: white solid 2px;
}

.BA {
  left: 460px;
  top: 200px;
}

.BB {
  left: 460px;
  top: 500px;
}

.BC {
  left: 800px;
  top: 250px;
}

.expand:hover {
  background: white;
  border: black 1px solid;
  padding: 15px 15px 15px 30px;
  width: 400px;
  height: auto;
  border-radius: 0;
  color: #555;
  font-size: .8em;
  border-radius: 25px;
  margin: -10px 0 0 -10px;

}
.test_div {
  position: relative;
  height: 700px;
}
