@charset "utf-8";
/* CSS Document */

.section {
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 12vh;
}

#bufferB {
  height: 200px;
  width: 100%;
  background: #e0e0e0;
}

/*HEADER*/
header {
  position: fixed;
  top: -50px;
  left: -1px;
  z-index: 2;
  -webkit-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
  box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
}

#header_cont {
  width: 100vw;
  background: rgba(0,0,0,0.85);
  padding: 10px;
  min-height: 65px;
}

#header_logo {
  height: 50px;
  cursor: pointer;
}

#header_btn_left {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 33px;
  margin: -2px -6px 0 10vw;
}

#header_btn_right {
  position: absolute;
  display: inline-block;
  right: 0;
  margin-right: 10vw;
}

header button {
  appearance: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  margin-top: 6px;

  border: none;
  background: #669933;
  padding: 6px 20px 4px 20px;
  transition: background .1s ease-in-out;
  -moz-transition: background .1s ease-in-out;
  -webkit-transition: background .1s ease-in-out;
}

header button:hover {
  background: #9bb337;
}

header button:active {
  background: #555;
}

/*SECA*/
.banner {
  height: 78vh;
  width: 100vw;
  background: url("../resources/imgs/header_bg.jpg");
  background-size: cover;
  background-position: bottom;
}

#machine {
  height: 95%;
  width: auto;
  margin-top: 20vh;
}

#bufferA{
  height: 40vh;
  width: 100%;
}

.secA h2 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 4em;
  letter-spacing: 5px;
  line-height: 70px;
  text-align: left;
  margin-left: 5vw;
}

.secA h3 {
  font-family: "Roboto", Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: left;
  width: 60%;
  margin: 23vh 0 7vh 5vw;
}


/*SECTION B*/
.secB {
  /*background: url("../resources/imgs/axon2.jpg");*/
  /*background: #e0e0e0;*/
  background: #f1f1f1;
  background-size: cover;
  background-position: center;
}

.secB_cont{
  margin-top: 7vh;
  text-align: center;
}

.secB img {
  width: 50%;
  padding-bottom: 1vh;
}

/*.secB1 {
  background: url("../resources/imgs/testA.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
}*/

.secB2 {
  background: url("../resources/imgs/testB.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
}

.secB_cont{
  text-align: center;
}

.percentage span {
  font-size: .2em;
}

.secB h4 {
  font-family: "Roboto",Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  margin-top: -3vh;
  padding-left: 1vw;
  color: black;
}

#bufferB {
  height: 50px;
  width: 100%;
}

/*SECTION C*/
.secC {
  background: #f3f3f3;
}

#imgdiv {
  float: right;
  width: 100%;
  height: 300px;
  margin-top: 8px;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.secC img {
  float: right;
  width: 100%;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#linkedin {
  width: 25px;
  float: right;
}

.bio_cont {
  padding-left: 2%;
  box-sizing: border-box;
}

.bio_cont p{
  margin-bottom: 40px;
}

.bio_title {
  position: relative;
  width: 100%;
  vertical-align: bottom;
}

/*SECTION F*/
.secF {
  background: url("../resources/imgs/axon2.jpg");
  background-size: cover;
  background-position: center;
}

.imgdiv2 {
  width: 100%;
  background: lightgray;
  display: inline-block;
  box-sizing: border-box;
}

.imgdiv3 {
  background: lightgray;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow-y: hidden;

}

.verti_bio {
  float: right;
  width: 80%;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hori_bio {
  /*float: left;*/
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


#linkedin_bio {
  width: 25px;
  margin: 10px;
  float: left;
  opacity: .2;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
}

#linkedin_bio:hover {
  opacity: 1;
}

.bio_cont2, .bio_cont4 {
  box-sizing: border-box;
  margin-bottom: 40px;
  background: #fafafa;
  margin: 2px;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.3);
}

.bio_cont p {
  padding: 0 30px 0px 25px;
}

.bio_cont2 p, .bio_cont4 p {
  font-size: .8em;
}

/*.hori_bio_row {
  background: red;
}*/

.bio_hori_row {
  /*border: red 1px solid;*/
}

.hello{
  /*height: 100%;*/
}

.bio_cont2 {
  /*height: 100%;*/
}

.bio_cont4 {
  height: 350px;
}

.secF button {
  outline-style: none;
  border: none;
  background: white;
  color: #888;
  width: 33.33%;
  font-size: 1.8em;
  font-weight: 100;
}

.secF h1 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 5em;
  padding-bottom: 1vh;
  margin: 0;
}

.secF h2 {
  display: inline-block;
  margin-right: 5px;
}

.secF h4 {
  display: inline-block;
  color: #669933;
}

.secF h5 {
  display: inline-block;
  margin-top: 5px;
}

.bio_title2 {
  padding: 25px 25px 25px 25px;
  position: relative;
  width: 100%;
  vertical-align: bottom;
}


/*FOOTER*/

.footeroutter {
  background: #383838;
  border: #383838 solid 1px;
}

footer {
  background: #383838;
  color: #999;
}

footer p {
  font-size: .7em;
  padding-bottom: 2vh;
}

footer span {
  font-size: .7em;
  float: right;
  margin-right: 20px;
}

a,a:link,a:visited {
  cursor: pointer;
  color: #999;
  text-decoration: none;
  transition: color .1s ease-in-out;
  -moz-transition: color .1s ease-in-out;
  -webkit-transition: color .1s ease-in-out;
}

a:hover {
  color: white;
}

footer span:hover {
  color: white;
}

.footer_cont {
  font-size: .8em;
  text-align: left;
  padding: 0 0 5vh 0;
}

.footer_contB {
  padding-top: 2vh;
}

.icon {
  height: 60px;
  width: 60px;
  background: url("../resources/imgs/icons.png") no-repeat;
  background-size: 400%;
  float: right;
  position: relative;
  cursor: pointer;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
}

.facebook {
  opacity: .5;
  background-position:left top;
}

.facebook:hover {
  opacity: 1;
  background-position:left top;
}

.facebook:active {
  opacity: 1;
  background-position:left bottom;
}

.twitter {
  opacity: .5;
  background-position:right -120px top;
}

.twitter:hover {
  opacity: 1;
  background-position:right -120px top;
}

.twitter:active {
  opacity: 1;
  background-position:right -120px bottom;
}

.instagram {
  opacity: .5;
  background-position:right -60px top;
}

.instagram:hover {
  opacity: 1;
  background-position:right -60px top;
}

.instagram:active {
  opacity: 1;
  background-position:right -60px bottom;
}

.linkedin {
  opacity: .5;
  background-position:right top;
}

.linkedin:hover {
  opacity: 1;
  background-position:right top;
}

.linkedin:active {
  opacity: 1;
  background-position:right bottom;
}

.footer_contB p {
  font-size: .8em;
  text-align: right;
  padding: 0 2vh 0 0;
}

/*TEST SECTION*/

#testsect {
  height: 700px;
  width: auto;
  position: absolute;
}

.expand {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #669933;
  z-index: 2;
  border-radius: 100px;
  font-size: 0px;
  border: white solid 2px;
}

.BA {
  left: 460px;
  top: 200px;
}

.BB {
  left: 460px;
  top: 500px;
}

.BC {
  left: 800px;
  top: 250px;
}

.expand:hover {
  background: white;
  border: black 1px solid;
  padding: 15px 15px 15px 30px;
  width: 400px;
  height: auto;
  border-radius: 0;
  color: #555;
  font-size: .8em;
  border-radius: 25px;
  margin: -10px 0 0 -10px;

}
.test_div {
  position: relative;
  height: 700px;
}
