@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #bufferB{
    height: 0px;
  }


  /*HEADER*/
  #header_btn_right {
    display: none;
    height: 0px;
  }

  #header_logo {
    height: auto;
    width: 70vw;

    cursor: pointer;
  }

  #header_btn_left {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 33px;
    margin: 1.5vh 15vw 0 15vw;
  }

  #header_cont {
    width: 100vw;
    padding: 0px;
    min-height: 60px;
  }

  header {
    position: fixed;
    top: -50px;
    z-index: 2;
    z-index: 10;
  }

/*SECTION A*/


  #bufferA {
    height: 0;
  }

  .secB {
    background: url("../resources/imgs/mobilebg.jpg");
    background-size: cover;
    background-position: center;
  }

  .secB h3 {
    font-family: "Roboto", Helvetica, sans-serif;
    letter-spacing: 2px;
    text-align: left;
    width: 90%;
    margin: 0vh 0 7vh 5vw;
    font-size: .9em;
    font-weight: 300;
  }

  #machine {
    margin-top: 3vh;
    min-width: 200px;
    margin-bottom: 8vh;
  }

  /*SEC A*/
  .opening_pitch {
    padding: 0 0 6vh 2vw;
    /*border: red 1px solid;*/
  }

  .opening_pitch h2 {
    margin-left: 4.5vw;
  }

  /*SEC B*/

  .secB_cont{
    width: 45vw;
    font-size: .6em;
  }

  /*SEC C*/

  #secC_img {
    height: 45vh;
    width: auto;
    position: absolute;
  }


  /*SEC D*/

  #secD_img {
    height: 45vh;
    width: auto;
    position: absolute;
    right: 0;
    top: -50px;
  }

  /*SEC F*/
  .secF h1 {
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 3em;
    padding-bottom: 1vh;
    margin: 0;
  }

  .secF button {
    outline-style: none;
    border: none;
    background: rgba(255,255,255,0.2);
    margin-left: 3px;
    height: 50px;
    color: white;
    width: calc(100% - 6px);
    font-size: 1.2em;
    font-weight: 100;
  }

  .bio_img_hori {
    display: none;
  }

  .bio_text_hori {
    width: 100%;
    margin: 0;
  }

  /*PARTNERS*/

  #partner_img{
    padding-top: 5vh;
    padding-bottom: 15vh;
    width: 100%;
    display: inline-block;
  }

  #partnerA {
    height: 60px;
    float: left;
    margin: 0;
  }

  #partnerB {
    height: 60px;
    float: right;
    margin: 0;
  }


  #partner_text {
    margin-top: 5vh;
    width: 100%;
    color: #999;
    font-size: .8em;
    display: inline-block;
  }



  /*FOOTER*/
  footer p {
    font-size: .6em;
    margin-bottom: 3vh;
    text-align: left;
  }

  footer h2 {
    display: none;
  }

  .footer_cont {
    padding: 0;
  }

  .footer_contB {
    /*display: none;*/
  }


  /*PARTNERS*/

  #partner_text {
    /*width: 35%;*/
    float: left;
    padding: 3vh 3vw 0 0;
    margin: 3vh 0 0 5vw;
    color: #999;
    font-size: .8em;
  }

  #partnerA {
    margin: 1vh 5vw 0 5vw;
    height: 8vh;
    padding-bottom: 0;
    /*width: 30vw;*/
    float: left;
    cursor: pointer;
    transition: all .2s ease;
  }

  #partnerB {
    margin: 0vh 5vw 0 5vw;
    padding-bottom: 0;
    height: 8vh;
    /*width: 30vw;*/
    float: left;
    cursor: pointer;
    transition: all .2s ease;
  }

  /*JOIN*/
  .join {
    height: 50px;
    width: 98%;
    margin: auto;
    margin-top: 15px;
  }

  /*MODAL*/

  .modalDialog > div {
    width: 95vw;
    height: 90vh;
    position: relative;
    margin: 10vh auto;
    padding: 6vh 10vw 13px 10vw;
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    right: 8vw;
    top: calc(13vh);
    z-index: 200;
    line-height: 30px;
    width: 30px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2px;
  }

  /*FOOTER*/

  .footer_contB {
    padding-right: 15vw;
  }

  footer span {
    float: none;
    margin-right: -15vw;
  }

  footer p {
    font-size: .7em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
  }
}


