@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #bufferB{
    height: 0px;
  }


  /*HEADER*/
  #header_btn_right {
    display: none;
  }

  #bufferA {
    height: 0;
  }

  .secA h3 {
    font-family: "Roboto", Helvetica, sans-serif;
    letter-spacing: 2px;
    text-align: left;
    width: 90%;
    margin: 0vh 0 7vh 5vw;
    font-size: .9em;
    font-weight: 300;
  }

  #machine {
    margin-top: 15vh;
    min-width: 200px;
  }

  /*SEC A*/
  #opening_pitch {
    display: none;
  }

  /*SEC F*/
  .secF h1 {
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 3em;
    padding-bottom: 1vh;
    margin: 0;
  }

  .secF button {
    outline-style: none;
    border: none;
    background: rgba(255,255,255,0.2);
    margin-left: 3px;
    height: 50px;
    color: white;
    width: calc(100% - 6px);
    font-size: 1.2em;
    font-weight: 100;
  }


  .bio_img_hori {
    display: none;
  }

  .bio_text_hori {
    width: 100%;
    margin: 0;
  }

  /*PARTNERS*/

  #partner_img{
    padding-top: 5vh;
    padding-bottom: 15vh;
    width: 100%;
    display: inline-block;
  }

  #partnerA {
    height: 60px;
    float: left;
    margin: 0;
  }

  #partnerB {
    height: 60px;
    float: right;
    margin: 0;
  }


  #partner_text {
    margin-top: 5vh;
    width: 100%;
    color: #999;
    font-size: .8em;
    display: inline-block;
  }



  /*FOOTER*/
  footer p {
    font-size: .6em;
    margin-bottom: 3vh;
    text-align: left;
  }

  footer h2 {
    display: none;
  }

  .footer_cont {
    padding: 0;
  }

  .footer_contB {
    display: none;
  }
}