@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {

  .secB {
    background: url("../resources/imgs/landscape.jpg");
    background-size: cover;
    background-position: center;
  }

  #header_btn_right {
    font-weight: 400;
  }

  #machine {
    width: 80vw;
    padding-left: 15vw;
  }

  .machine_cont {
    margin: 0;
    /*border: solid red 1px;*/
  }

  .opening_pitch {
    margin: 0;
    /*border: solid red 1px;*/
    padding-top: 0;
  }

  .secB h2 {
    color: black;
    padding: 0 10vw 10vh 10vw;
    margin-top: 0px;
  }

  .secB h3 {
    font-weight: 400;
    color: black;
    padding: 0 10vw 0vh 10vw;
    line-height: 1.7em;
    letter-spacing: 0.05em;
  }

  #intro_email {
    color: white;
    line-height: 1.7em;
    background: #669933;
    padding: .6vw 1vw .6vw 1vw;
    margin-left: 1vw;
  }

  .secB_cont {
    width: 45vw;
  }

  .secB_cont h4 {
    font-weight: 400;
  }

  .secF h1 {
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 3em;
    padding-bottom: 1vh;
    margin: 0;
  }

  .secF button {
    outline-style: none;
    border: none;
    background: rgba(255,255,255,0.2);
    margin-left: 3px;
    height: 50px;
    color: white;
    width: calc(100% - 6px);
    font-size: 1.2em;
    font-weight: 100;
  }

  .bio_img_hori {
    display: none;
  }

  .bio_text_hori {
    width: 100%;
    margin: 0;
  }

  /*MODAL*/

  .modalDialog {
    z-index: 10;
    font-size: .9em;
  }

  .modalDialog > div {
    margin: 5vh 3vw 5vh 3vw;
    width: 94vw;
    height: 90vh;
  }

  .close {
    right: calc(10vh + 12px);
    top: calc(15vh - 12px);
  }

  #jobA {
    /*border: 1px red solid;*/
    margin-top: 50vh;
  }

  .join_openingA {
    width: 100%;
    height: auto;
    float: none;
  }

  .join_openingB {
    display: none;
  }

  .apply_cont{
    margin: 10vh 0 30vh 0;
    font-weight: 400;
    font-size: 1.1em;
  }
}

/*iphone5*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

/*@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
*/
  /*HEADER*/
  #header_btn_right {
    display: none;
    height: 0px;
  }

  #header_logo {
    height: auto;
    width: 70vw;

    cursor: pointer;
  }

  #header_btn_left {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 33px;
    margin: 1.5vh 15vw 0 15vw;
  }

  #header_cont {
    width: 100vw;
    padding: 0px;
    min-height: 60px;
  }

  header {
    position: fixed;
    top: -50px;
    z-index: 2;
    z-index: 10;
  }

/*SECTION A*/


  #buffer {
    height: 0;
    border: 1px solid red;
  }

  .secB {
    background: url("../resources/imgs/mobilebg.jpg");
    background-size: cover;
    background-position: center;
  }

  .secB_cont h4 {
    font-weight: 400;
  }

  .secB h2 {
    color: black;
  }

  .secB h3 {
    font-family: "Roboto", Helvetica, sans-serif;
    letter-spacing: 2px;
    text-align: left;
    width: 90%;
    margin: 0vh 0 7vh 5vw;
    font-size: .9em;
    font-weight: 400;
    color: black;
    line-height: 1.7em;
    letter-spacing: 0.05em;
  }

  #machine {
    margin: 5vh 5vw 5vh 5vw;
    min-width: 200px;
    width: 90vw;

  }

  /*SEC A*/
  .opening_pitch {
    padding: 0 0 6vh 2vw;
    /*border: red 1px solid;*/
  }

  .opening_pitch h2 {
    margin-left: 4.5vw;
  }

  #intro_email {
    color: white;
    line-height: 3em;
    background: #669933;
    padding: 2vw;
  }

  /*SEC B*/

  .secB_cont{
    width: 45vw;
    font-size: .6em;
  }

  /*SEC C*/

  #secC_img {
    height: 45vh;
    width: auto;
    position: absolute;
  }


  /*SEC D*/

  #secD_img {
    height: 45vh;
    width: auto;
    position: absolute;
    right: 0;
    top: -50px;
  }

  /*SEC F*/
  .secF h1 {
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 3em;
    padding-bottom: 1vh;
    margin: 0;
  }

  .secF button {
    outline-style: none;
    border: none;
    background: rgba(255,255,255,0.2);
    margin-left: 3px;
    height: 50px;
    color: white;
    width: calc(100% - 6px);
    font-size: 1.2em;
    font-weight: 100;
  }

  .bio_img_hori {
    display: none;
  }

  .bio_text_hori {
    width: 100%;
    margin: 0;
  }

  /*PARTNERS*/

  #partner_img{
    padding-top: 5vh;
    padding-bottom: 15vh;
    width: 100%;
    display: inline-block;
  }

  #partnerA {
    height: 60px;
    float: left;
    margin: 0;
  }

  #partnerB {
    height: 60px;
    float: right;
    margin: 0;
  }


  #partner_text {
    margin-top: 5vh;
    width: 100%;
    color: #999;
    font-size: .8em;
    display: inline-block;
  }

  /*TEAM PIC*/
  .team_pic {
    width: 100%;
    height: 45vh;
  }

  /*FOOTER*/
  footer p {
    font-size: .6em;
    margin-bottom: 3vh;
    text-align: left;
  }

  footer h2 {
    display: none;
  }

  .footer_cont {
    padding: 0;
  }

  .footer_contB {
    /*display: none;*/
  }


  /*PARTNERS*/

  .partners {
    /*background: url("../resources/imgs/teamblk.jpg");*/
    /*background-size: cover;*/
    height: 35vh;
    background: #222;
  }

  #partner_text {
    /*width: 35%;*/
    float: left;
    padding: 3vh 3vw 0 0;
    margin: 3vh 0 0 5vw;
    color: #999;
    font-size: .8em;
  }

  #partnerA {
    margin: 1vh 5vw 0 5vw;
    height: 8vh;
    padding-bottom: 0;
    /*width: 30vw;*/
    float: left;
    cursor: pointer;
    transition: all .2s ease;
  }

  #partnerB {
    margin: 0vh 5vw 0 5vw;
    padding-bottom: 0;
    height: 8vh;
    /*width: 30vw;*/
    float: left;
    cursor: pointer;
    transition: all .2s ease;
  }

  .join {
    height: 50px;
    width: 98%;
    margin: auto;
    margin-top: 15px;
  }

 /*MODAL*/


  .close {
    right: calc(10vh + 12px);
    top: calc(15vh - 12px);
  }

  #jobA {
    margin-top: 25vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #jobB {
    margin-top: 0vh;
  }

  .join_openingA {
    width: 100%;
    height: auto;
    float: none;
  }

  .join_openingB {
    display: none;
  }

  .apply_cont {
    font-weight: 400;
    font-size: 1.3em;
    height: 100px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 2vh 0 0vh 0;
    }

  .modalDialog > div {
    width: 95vw;
    height: 90vh;
    position: relative;
    margin: 10vh auto;
    padding: 6vh 10vw 13px 10vw;
    font-size: .8em;
    text-align: left;
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    right: 8vw;
    top: calc(13vh);
    z-index: 200;
    line-height: 30px;
    width: 30px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2px;
  }

  /*FOOTER*/

  .footer_contB {
    padding-right: 15vw;
  }

  footer span {
    float: none;
    margin-right: -15vw;
  }

  footer p {
    font-size: .7em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
  }

  #openModal2 {
    text-align: left;
    fo
  }
}


