/*.imgArtThumb {
    max-width: 100%;
    height: auto;
}
.imgHolder {
    float: left;
    display: inline-block;
    width: 100%;
    height: 30px;
    background: green;
}
.textHolder {
    background: blue;
    float: left;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.textHolderTop {
    width: 100%;
    height: 48%;
    text-align: left;
    padding-bottom: 2%;
    overflow: hidden;
}
.textHolderBottom {
    width: 100%;
    height: 48%;
    overflow: hidden;
    text-align: left;
    padding-bottom: 2%;
}
.test2n {
    text-align: left;
    height: 95%;
    width: 90%;
    margin: 5%;
    border: purple solid 1px;
    overflow: hidden;
}
.articleTeaserBoxColor {
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(238, 146, 85, 1);
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.3);
    padding: 10px;
    margin: 10px;
}

 .col {
    display: table-cell;
    vertical-align: top;
    margin: 1% 0 1% 0;
}
.col:first-child {
    margin-left: 0;
}
.span_1_of_3 {
    width: 30%;
}

 .group:before, .group:after {
    content:"";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
 .section {
    clear: both;
    padding: 0px;
    margin: 0px;
    height: auto;
    overflow: auto;
    text-align: center;
    width: 100%;
}*/



#larg_container {
    background: #999;
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

.bio_img_hori {
    background: blue;
    width: 33.333%;
    height: 100%;
    display: inline-block;
    float: left;
}

.bio_text_hori {
    background: red;
    height: 100%;
    width: 66.666%;
    display: inline-block;

}