/*.imgArtThumb {
    max-width: 100%;
    height: auto;
}
.imgHolder {
    float: left;
    display: inline-block;
    width: 100%;
    height: 30px;
    background: green;
}
.textHolder {
    float: left;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.textHolderTop {
    width: 100%;
    height: 48%;
    text-align: left;
    padding-bottom: 2%;
    overflow: hidden;
}
.textHolderBottom {
    width: 100%;
    height: 48%;
    overflow: hidden;
    text-align: left;
    padding-bottom: 2%;
}
.test {
    width: 99%;
    height: 99%;
    position: absolute;
    margin: .5%;
         -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.3);
       -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.3);
       box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.3);
}
.test2n {
    text-align: left;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: red solid 1px;
}
.articleTeaserBoxColor {
    border: blue solid 1px;
    margin: 10px;
    position: relative;
}

 .col {
    display: table-cell;
    vertical-align: top;
    margin: 1% 0 1% 0;
}
.col:first-child {
    margin-left: 0;
}
.span_1_of_3 {
    width: 30%;
}

 .group:before, .group:after {
    content:"";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
 .section {
    clear: both;
    padding: 0px;
    margin: 0px;
    height: auto;
    overflow: auto;
    text-align: center;
    width: 100%;
}
*/

.bio_section {
    width: 60%;
    margin: 0 auto;

}

#larg_container {
    background: #fafafa;
    margin: 5px;
    position: relative;
    -webkit-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
    box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.6);
}

.bio_img_hori {
    background: #e0e0e0;
    width: 33.333%;
    height: 100%;
    display: inline-block;
    float: left;
    position: absolute;
    overflow: hidden;
}

#personA {
    width: 100%;
    height: 100%;
    padding-left: 3vw;
    background: url("../resources/imgs/personA.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#personB {
    width: 100%;
    height: 100%;
    padding-left: 3vw;
    background: url("../resources/imgs/personB.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.imgdiv img {
    width: 100%;
    position: relative;
    bottom: 0;
}

.bio_text_hori {
    margin-left: 33.333%;
    width: 66.666%;
    display: inline-block;
}

.bio_title {
  padding: 25px 25px 0 35px;
  width: 100%;
}

.bio_desc {
  background: #fafafa;
  font-size: .8em;
  padding: 0 35px 35px 35px;
}